<footer class="bg-light text-center py-4 shadow-sm mt-5">
  <p class="small text-dark m-0">Copyright &copy; 2022 Rodcel Isaac Macalinao, Web-Development-3008</p>
  <p class="small text-dark m-0">This website is made solely for the purpose of my Web-Development course.</p>
</footer>
