<%= render "header" %>
<div class="d-flex justify-content-center mt-5">
  <img src="https://upload.wikimedia.org/wikipedia/commons/1/18/Vg_new_logo.png" alt="vanguard logo"  width="900" class="img-fluid">
</div>