<%= render "header" %>
<div class="container-fluid p-5">
  <div class="grid">
    <% @cards_search.each do |card| %>
      <%= render "card", card: card %>
    <% end %>
  </div>
  <div class="text-center mt-3 mb-3">
    <%= page_entries_info @cards_search %>
  </div>
  <div class="pagination justify-content-center">
    <%= paginate @cards_search, window: 2 %>
  </div>
</div>
